body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  color: #fff;
  background-color: #7525a7;
  transition: background 0.5s;
}

.container {
  margin-top: 32px;
}

.personaje-img {
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.6);
}

.etapas {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.etapas button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: transform 0.2s;
}

.etapas img {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  border: 2px solid #888;
}

.etapas button:hover {
  transform: scale(1.12);
  border-color: #fff;
}
